@using SportsStore.WebUI.Models
@using SportsStore.Domain.Entities
@model ProductListViewModel

@{
	ViewBag.Title = "Products";
}

@foreach (Product p in Model.Products)
{
	@Html.Partial("ProductSummary", p)
}

<div class="btn-group pull-right">
	@Html.PageLinks(Model.PaginInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>